.ChameleonCalculatorSupport {
  padding: 10px;
}

.MobileStoreButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.DownloadProblems {
  margin-bottom: 80px;
}

.WhereToGetUpdates {
  margin-bottom: 80px;
}

.Bugs {
  margin-bottom: 80px;
}

.Features {
  margin-bottom: 80px;
}
